html, body    {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #222;
    background-color: rgb(100, 100, 100);
}

.nounderline    {
    text-decoration: none !important;
}

.padding    {
    margin: 0;
    padding: 0;
}


.paddingtopbottom {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.paddingmenu    {
    margin: 0;
    padding: 20px !important;
}

.paddingbrand   {
    margin: 0;
    padding: 13px 0px 13px 0px;
}

.active, .nav-link:hover, .dropdown-item:hover   {
    background-color: rgb(100, 100, 100) !important;
    color: white !important;
}

.active:hover{
    background-color: #222 !important;
}

.dropdown-menu  {
    background-color:rgb(255, 255, 255, 0.75);
    margin:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
    border-radius: 0 !important;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
}

.dropdown-item  {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.kolmenu    {
    height: 85vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #222;
    box-shadow: 30px 0px 30px #222;
}

.overlay1   {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1s ease;
    background-image: url(/img/hover1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay2   {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1s ease;
    background-image: url(/img/hover2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay3   {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1s ease;
    background-image: url(/img/hover3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay0  {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.text   {
    position: absolute;
    color:rgb(100, 100, 100);
    font-size: 2rem;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.nounderline:hover .overlay0   {
    transition: 1s ease;
    height: 20%;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 0px 0px 30px #222;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0) scaleX(1.02) scaleY(1.02);
}
.nounderline:hover .text    {
    color: #222;
}

.nounderline:hover .overlay1, .nounderline:hover .overlay2, .nounderline:hover .overlay3 {
    opacity: 1;
    transform: translateY(5px) scaleX(1.02) scaleY(1.02);
}

footer  {
    color: white;
    font-size: 0.8rem;
}

.animate    {
    animation: transitionIn 1s !important;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: scaleX(2) scaleY(2);
    }
    to  {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
}