@font-face {
  font-family: OpenSansRegular;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSansLight;
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSansSemiBold;
  src: url("../fonts/OpenSans-Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  font-family: OpenSansRegular;
  color: whitesmoke;
  background-color: #444;
}

.container {
  height: 100vh;
}

header {
  height: 5vh;
}

nav {
  background-color: rgba(255, 255, 255, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 0 0 20px;
  height: 100%;
}

nav .menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: OpenSansLight;
  background: none;
  border: none;
  height: 100%;
  width: 130px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #222;
  font-size: 1.6vh;
}

nav .menu a:hover {
  background-color: white;
  -webkit-animation: ease-in;
  animation: ease-in;
}

nav .menu a i {
  padding: 0 0 0 0.4rem;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  color: #222;
  font-size: 3vh;
}

nav .logo p {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 60px;
  background-color: whitesmoke;
}

nav .logo p i {
  padding: 0 0.4rem 0 0.4rem;
}

.imgcontainer {
  position: absolute;
  top: 0;
  z-index: 0;
  background-color: #222;
  -webkit-box-shadow: 0 0 20px #222;
  box-shadow: 0 0 20px #222;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.imgcontainer:hover a img {
  opacity: 0.1;
  -webkit-filter: blur(5px);
}

.imgcontainer a {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.imgcontainer a img {
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.imgcontainer a p {
  position: absolute;
  font-family: OpenSansLight;
  font-size: 24px;
  color: whitesmoke;
}

.imgcontainer a:hover {
  height: 105%;
}

.imgcontainer a:hover img {
  opacity: 1;
  -webkit-filter: blur(0px);
  -webkit-animation: ease-in-out;
  animation: ease-in-out;
}

.imgcontainer a:hover p {
  -webkit-transform: translateY(-30vh) scaleX(1.2) scaleY(1.2);
  transform: translateY(-30vh) scaleX(1.2) scaleY(1.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #444;
  background-color: whitesmoke;
  padding: 0 5px;
}

.footer {
  color: whitesmoke;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.animate {
  -webkit-animation: slideDown 1s;
  animation: slideDown 1s;
}

@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */
