html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #222;
    font-size: 16px;
    background-color: rgb(100, 100, 100);
}

.nounderline {
    text-decoration: none !important;
}

.padding {
    margin: 0;
    padding: 0;
}


.paddingtopbottom {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.paddingmenu {
    margin: 0 !important;
    padding: 12px !important;
}

.paddingbrand {
    margin: 0;
    padding: 5px 0;
}

.active,
.nav-link:hover,
.dropdown-item:hover {
    background-color: rgb(100, 100, 100) !important;
    color: white !important;
    transition: ease 0.2s !important;
}

.active:hover {
    background-color: #222 !important;
    transition: ease 0.2s !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: rgb(255, 255, 255, 0.9);
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-radius: 0 !important;
    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.5);
}

.dropdown-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.rowstyle {
    background-color: #222;
    box-shadow: 0 0 30px #222;
}

.kolmenu {
    height: 85vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.overlay1 {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1s ease;
    background-image: url('/img/hover1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay2 {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1s ease;
    background-image: url('/img/hover2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay3 {
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1s ease;
    background-image: url('/img/hover3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay0 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.text {
    position: absolute;
    color: rgb(100, 100, 100);
    font-size: 1.4rem;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.nounderline:hover .overlay0 {
    transition: 0.5s ease;
    height: 20%;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 30px #222;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0) scaleX(1.02) scaleY(1.02);
}
.nounderline:hover .text {
    color: #222;
    font-size: 1.6rem;
}

.nounderline:hover .overlay1,
.nounderline:hover .overlay2,
.nounderline:hover .overlay3 {
    opacity: 1;
    transform: translateY(5px) scaleX(1.02) scaleY(1.02);
}


.animate1 {
    animation: slideUpDown 1s;
}
.animate2 {
    animation: slideUpDown2 0.2s;
}

@keyframes slideUpDown {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideUpDown2 {
    from {
        opacity: 0;
        transform: translateY(-50%) scaleY(0.1);
    }
    to {
        opacity: 1;
        transform: translateY(0) scaleY(1);
    }
}

footer {
    color: white;
    font-size: 0.8rem;
}


.iframe1 {
    width: 100%;
    height: 90vh;
}

/* LIST1 STYLE */
.card-header {
    color: white !important;
}

.boxstyle {
    background-color: #222;
}

.imgcontainer {
    width: 100%;
    height: 55vh;
    overflow: hidden;
}

.imgstyle {
    width: 100%;
    min-height: 100%;
    opacity: 1;
}

.overlay4 {
    color: black;
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;

}

.boxtext {
    position: absolute;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 60%;
    top: 40%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #222;
    transform: translateY(40%);
    font-size: 0.85rem;
}

.nounderline:hover .boxtext {
    opacity: 1;
    transition: 0.5s ease;
    transform: translateY(0);
}

.boxstyle:hover {
    background-color: rgb(100, 100, 100);
}

.boxstyle:hover .imgstyle {
    opacity: .8;
}
