/* GLOBAL */
body {
    background-color: black;
    background-image: url(../IMG/bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-attachment: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

ul, li  {
    padding: 0;
    margin: 0;
}

/* HEADER STYLE */
header   {
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 15px maroon;
    z-index: 2;
}

div.menu {
    position: absolute;
    bottom: 0;
    padding: 0 0 0 2rem;
    margin: 0;
}

div.menu ul, div.menu li  {
    display: inline-block;
    padding: 0;
    margin: 0;
}

div.menu a    {
    text-decoration: none;
    color:white;
}

div.menu .menubtn    {
    display: inline-block;
    background-color: none;
    color: lightgray;
    font-size: 28px;
    text-align: center;
    /*width: 12rem;*/
    padding: 0 2rem;
    margin: 0;
}

div.menu .menubtn:hover {
    display: inline-block;
    color: black;
    text-align: center;
    font-size: 28px;
    text-shadow: 0 0 36px black;
    box-shadow: 0 5px lightgray;
    padding: 0 2rem;
    margin: 0;
    transition: 0.3s;
}

div.menu .menubtnactive {
    display: inline-block;
    background-color: none;
    color: black;
    font-size: 28px;
    text-align: center;
    box-shadow: 0 5px maroon;
    padding: 0 2rem;
    margin: 0;
}

span.logo   {
    /*background-color: whitesmoke;*/
    float: right;
    padding: 1rem 0;
    margin: 0;
}

span.logo a   {
    text-decoration: none;
    color: rgb(48, 48, 48);
    padding: 0;
    margin: 0;
}

span.logo a:hover    {
    text-decoration: none;
    color: maroon;
}

span.logo p  {
    display: inline-block;
    /*border: 1px solid black;*/
    font-size: 36px;
    padding: 0;
    margin: 0;
}

span.logo img {
    float: right;
    /*border: 1px solid black;*/
    padding: 0 1rem;
    margin: 0;
    height: 42px;
    width: 42px;
}
/* END HEADER STYLE */

/* MAIN STYLE */
main    {
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: auto;
}

div.phome  {
    width: 80%;
    padding-top: 8rem;
    margin: auto;
}

div.konten {
    width: 80%;
    padding-top: 1rem;
    margin: auto;
}

main a  {
    text-decoration: none;
    color: white;
}

/* END MAIN STYLE */

/* FOOTER STYLE */
div.footer  {
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
}

div.footer p    {
    color: black;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
    font-size: 10pt;
}

div.footer a    {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

div.footer a:hover  {
    color: maroon ;
    transition: 0.2s;
}
/* END FOOTER STYLE */

/* MEDIA STYLE */
@media(max-width:1024px) {
    header   {
        background-color: whitesmoke;
        position: fixed;
        width: 100%;
        height: 100px;
        top: 0;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 20px black;
    }
    div.menu ul, div.menu li  {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    div.logo{
        background-color: whitesmoke;
        float: right;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
        margin: 0;
    }
}
