/* STYLE MENU2 */
div.menu2   {
    background-color: black;
    position: fixed;
    top: 5rem;
    width:100%;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
}

div.menu2 ul, div.menu2 li  {
    display: inline-block;
    margin: 0;
    padding: 0;
}

div.menu2 a {
    text-decoration: none;
}

div.menu2 .menubtn2  {
    display: inline-block;
    background-color: black;
    width: 10rem;
    color: white;
    text-align: center;
    padding: 0.4rem 1rem;
    margin: 0;
}

div.menu2 .menubtn2:hover  {
    display: inline-block;
    border: 1px solid white;
    font-weight: bold;
    width: 10rem;
    color: white;
    text-align: center;
    padding: 0.4rem 1rem;
    margin: 0;
    transition: 0.2s;
}

div.menu2 .menubtn2active  {
    display: inline-block;
    border: 1px solid maroon;
    background-color: maroon;
    width: 10rem;
    color: white;
    text-align: center;
    padding: 0.4rem 1rem;
    margin: 0;
}
/* END STYLE MENU2 */

/* STYLE KONTEN ANIME LIST */
main.anime  {
    width: 80%;
    padding-top: 8rem;
    padding-bottom: 5rem;
    margin: auto;
}

div.kontenanime {
    display: grid;
    float: left;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 33.33%;
    padding: 1rem;
    margin: 0;
    box-sizing: border-box;
}

.kontenanime div    {
    margin: 0;
    padding: 0;
}

div.judul {
    background-color: whitesmoke;
    border-bottom: 3px solid maroon;
    grid-column: 1/6;
    color: black;
    font-size: 14pt;
    text-align: center;
    padding: 0.5rem 0;
}

div.imageanime    {
    background-color: white;
    height: 300px;
    width: 200px;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}

div.kontenanime img    {
    /*max-width: 100%;*/
    max-height: 100%;
    padding: 0;
    margin: 0;
}

div.data    {
    background-color: white;
    color: black;
    grid-auto-columns: 200px;
    grid-column: 2/6;
    word-wrap: break-word;
    padding: 0.5rem;
}

div.rating1 {
    color: white;
    background-color: maroon;
    grid-column: 1/3;
    padding: 0.2rem 0 0.2rem 0.5rem;
}

div.rating2   {
    background-color: maroon;
    grid-column: 3/6;
    padding: 0.2rem 0.5rem 0.2rem 0;
    text-align: center;
}

span.containerdata   {
    background-color: rgb(36, 36, 36);
    grid-column: 1/6;
    margin: 0;
    padding: 0;
    height: 500px;
}

span.containerdata .comments  {
    background-color: rgb(36, 36, 36);
    grid-column: 1/6;
    padding: 0.1rem 1.5rem;
    margin: 0;
    text-align: justify;
}

span.containerdata .synopsis {
    background-color: rgb(36, 36, 36);
    padding: 0.1rem 1.5rem;
    margin: 0;
    text-align: justify;
}
