@import "./varAndMixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  @include noDecoration;
}

body {
  font-family: OpenSansRegular;
  color: $textbody;
  background-color: $body;
}
.container {
  height: 100vh;
  width: 100%;
}
header {
  height: 5vh;
}
nav {
  background-color: rgba(255, 255, 255, 0.8);
  position: sticky;
  top: 0;
  z-index: 1;
  height: 100%;
  margin: auto;
  @include flex(row, space-between, center);
  .menu {
    @include flex(row, flex-start, center);
    flex: 1;
    padding: 0 0 0 20px;
    height: 100%;
    a {
      display: flex;
      background: none;
      border: none;
      height: 100%;
      width: 130px;
      justify-content: center;
      align-items: center;
      transition: 0.5s;
      color: $navcolor;
      font-size: 1.6vh;
      &:hover {
        background-color: white;
        animation: ease-in;
      }
      i {
        padding: 0 0 0 0.4rem;
      }
    }
  }
  .logo {
    @include flex(row, flex-end, center);
    flex: 1;
    height: 100%;
    color: $navcolor;
    font-size: 3vh;
    p {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 60px;
      background-color: whitesmoke;
      i {
        padding: 0 0.4rem 0 0.4rem;
      }
    }
  }
}

.imgcontainer {
  position: absolute;
  top: 0;
  z-index: 0;
  background-color: #222;
  box-shadow: 0 0 20px #222;
  height: 90vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  &:hover a img {
    opacity: 0.1;
    -webkit-filter: blur(5px);
  }
  a {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    @include flex(column, center, center);
    transition: 1s;
    img {
      // max-height: 100%;
      // min-height: 100%;
      // min-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
      opacity: 0;
      transition: 0.5s;
    }
    p {
      position: absolute;
      font-family: OpenSansLight;
      font-size: 24px;
      color: $textbody;
    }
    &:hover {
      height: 105%;
    }
    &:hover img {
      opacity: 1;
      -webkit-filter: blur(0px);
      animation: ease-in-out;
    }
    &:hover p {
      transform: translateY(-30vh) scaleX(1.2) scaleY(1.2);
      transition: 0.2s;
      color: $body;
      background-color: whitesmoke;
      padding: 0 5px;
    }
  }
}

.footer {
  color: $textbody;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.animate {
  animation: slideDown 1s;
}

@keyframes slideDown {
  from {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}
