* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark: #111111;
  --light: #ffffff;
  --link: #0ff;
}
::selection {
  color: var(--dark);
  background-color: var(--light);
}
::-moz-selection {
  color: var(--dark);
  background-color: var(--light);
}
::-ms-selection {
  color: var(--dark);
  background-color: var(--light);
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: monospace;
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  color: var(--light);
  position: relative;
  cursor: none;
}
h1, h2, h3 {
  text-transform: uppercase;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 500;
}
h3 {
  margin-bottom: 1em;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
a {
  color: var(--link);
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
section {
  margin: 5rem 0;
}
.main-container {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 0 16px;
}
.screen {
  height: 100dvh;
  height: 100vh;
  display: grid;
  place-content: center;
}
.project {
  margin-bottom: 2rem;
}
.quote {
  font-style: italic;
}

#lets-connect {
  position: relative;
}

footer {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.625rem;
}

.n-cursor-one, .n-cursor-two, .n-crosshair-v, .n-crosshair-h {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}
.n-cursor-one, .n-cursor-two {
  transform: translate(-50%, -50%) rotate(45deg);
}
.n-cursor-one {
  width: 5px;
  height: 5px;
  background-color: var(--light);
  transition: width 0.3s, height 0.3s, opacity 0.3s;
}
.n-cursor-two {
  width: 25px;
  height: 25px;
  border: 1px solid var(--light);
  opacity: 0.5;
  transition: all 200ms ease-out;
}
.n-crosshair-v, .n-crosshair-h {
  opacity: 0.2;
}
.n-crosshair-v {
  height: 100vh;
  border-left: 1px dashed var(--light);
}
.n-crosshair-h {
  width: 100vw;
  border-top: 1px dashed var(--light);
}
.n-cursor-down {
  width: 16px;
  height: 16px;
  opacity: 0.3;
}