.layout {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__menu-button {
      position: absolute;
      background-color: var(--bgColor2);
      color: var(--textColor1);
      user-select: none;
      width: 4rem;
      height: 4rem;
      top: 0;
      right: 0;
      display: grid;
      place-content: center;
    }

    &__logo {
      width: 2rem;
      height: 2rem;
      margin-right: 5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
  }

  .footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .slidenav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: var(--bgSlideNav);
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;

    &.open {
      visibility: visible;
      opacity: 1;
    }

    &__close-button {
      position: absolute;
      background-color: var(--bgColor1);
      color: var(--textColor4);
      user-select: none;
      width: 4rem;
      height: 4rem;
      top: 0;
      right: 0;
      display: grid;
      place-content: center;
    }
  }
}
