@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/notosanssundanese.css");

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root,
html[data-theme="light"] {
  --bgColor1: #ffffff;
  --bgColor2: #8599a8;
  --bgColor3: #495366;
  --bgColor4: #12151a;
  --bgSlideNav: rgba(18, 21, 26, 0.9);
  --textColor1: #ffffff;
  --textColor2: #8599a8;
  --textColor3: #485265;
  --textColor4: #12151a;
}

html {
  cursor: none;
  background-color: var(--bgColor1);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--bgColor1);
  color: var(--textColor2);
}

mark {
  background-color: rgb(0, 93, 231);
  color: white;
}

.cursor {
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--bgColor1);
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.4s ease;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  &.hover {
    transform: translate(-50%, -50%) scale(5);
    -webkit-transform: translate(-50%, -50%) scale(5);
    -moz-transform: translate(-50%, -50%) scale(5);
    -ms-transform: translate(-50%, -50%) scale(5);
    -o-transform: translate(-50%, -50%) scale(5);
  }
}

@import "./components/icons";
@import "./components/layout";
@import "./pages/_home";
